.fa-twitter{
   
    color: #1da1f2;
    font-size: 40px;
    margin-right: 20px;
  }
  .fa-youtube{
    margin-left: 650px;
    color: red;
    font-size: 40px;
    margin-right: 20px;
  }
  
  .fa-instagram{
    color: #DD2A7B;
    font-size: 40px;
    margin-right: 20px;
  }